.Person {
    width: 70%;
    margin: 15px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    text-align: center;
    padding: 10px 0;
}

/* .btn {
    color: #fff;
    background-color: #3fe429;
} */

.red {
    color: red;
}

.bold {
    font-weight: 600;
}